<div class="wrapper">
  <h1>username</h1>
  <hr>

  <div class="collapsible">
    <h2 class="collapsible-title">Wachtwoord aanpassen</h2>
    <form #passwordForm="ngForm" class="collapsible-content" (ngSubmit)="changePassword(passwordForm)" autocomplete="off">
      <div class="form-group">
        <label for="oldPass">Wachtwoord :</label>
        <em class="error" [class.show]="passwordForm.controls.oldPass?.invalid  && passwordForm.controls.oldPass?.touched">
            Verplicht
        </em>
        <input (ngModel)="oldPass" name="oldPass" id="oldPass" type="password" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="newPass">Nieuw :</label>
        <em class="error" [class.show]="passwordForm.controls.newPass?.invalid && passwordForm.controls.newPass?.touched">
            Verplicht
        </em>
        <input (ngModel)="newPass" name="newPass" id="newPass" type="password" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="repeatPass">Herhaal :</label>
        <em class="error" [class.show]="passwordForm.controls.repeatPass?.invalid && passwordForm.controls.repeatPass?.touched">
            Verplicht
        </em>
        <em class="error" [class.show]="(userForm.controls.repeatPassword?.invalid && userForm.controls.repeatPassword?.touched) || !matchingNewPasswords ">
            Fout wachtwoord
          </em>
        <input (ngModel)="repeatPass" name="repeatPass" id="repeatPass" type="password" class="form-control" required/>
      </div>
      <span>{{newPassMessage}}</span>
      <button type="submit">Aanpassen</button>
    </form>
  </div>
  <div class="collpsible">
    <h2 class="collapsible-title">Gebruiker toevoegen</h2>
    <form #userForm="ngForm" class="collapsible-content" (ngSubmit)="registerUser(userForm)" autocomplete="false" novalidate>
      <div class="form-group">
        <label for="username">Gebruikersnaam: </label>
        <em class="error" [class.show]="userForm.controls.username?.invalid && userForm.controls.username?.touched">
            Verplicht
        </em>
        <input (ngModel)="username" name="username" id="username" type="text" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <em class="error" [class.show]="userForm.controls.email?.invalid && userForm.controls.email?.touched">
          Verplicht
          </em>
        <input (ngModel)="email" name="email" id="email" type="text" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord: </label>
        <em class="error" [class.show]="userForm.controls.password?.invalid && userForm.controls.password?.touched">
            Verplicht
        </em>
        <input (ngModel)="password" name="password" id="password" type="password" class="form-control" required/>
      </div>
      <div class="form-group">
        <label for="repeatPassword">Herhaal wachtwoord: </label>
        <em class="error" [class.show]="userForm.controls.repeatPassword?.invalid && userForm.controls.repeatPassword?.touched">
          Verplicht
        </em>
        <em class="error" [class.show]="(userForm.controls.repeatPassword?.invalid && userForm.controls.repeatPassword?.touched) || !matchingUserPasswords ">
          Fout wachtwoord
        </em>
        <input (ngModel)="repeatPassword" name="repeatPassword" id="repeatPassword" type="password" class="form-control" required/>
      </div>
      <span>{{userMessage}}</span>
      <button type="submit">Toevoegen</button>
    </form>
  </div>
  <main-button (action)="logOut()">
    <i class="glyphicon glyphicon-log-out"></i>
  </main-button>
</div>
